src/build/
src/PDX Bus.xcodeproj/xcuserdata/
src/PDX Bus.xcodeproj/project.xcworkspace/
src/PDXBusCore/PDXBusCore.xcodeproj/xcuserdata/
**/.DS_Store
**/*.pbxuser
*.mode2v3
*.mode1v3
**/*.perspectivev*
src/PDXBusCore/build
src/ZXing/iphone/ZXingWidget/build
