<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arrivals WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Cleaner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Create hotspots from HTML.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>GenerateArrays.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>GenerateStaticTables.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MAX WES Map Tiles.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>OCLint.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>PDX Bus Arrivals WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>PDX Bus Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PDX Bus Distribution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PDX Bus Nearby Arrivals.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PDX Bus Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PDX Bus Test Plan - Attributes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PDX Bus Test Plan - Generate Data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PDX Bus Test Plan - Online.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PDX Bus Today Nearby Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PDX Bus Watch Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PDX Bus Watch Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PDX Bus WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PDXBus Siri Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PDXBus Siri ExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PDXBus Siri Watch Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Process HTML.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Streetcar Map Tiles.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>WatchKit Core Lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>iOS Core Lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>iOS Core Lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A100597021797F8000B0F8ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1667A3B1D2C71F8004B36D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17DFCB5251E852E001BE290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1832726215813CA00ED97BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1832730215813CA00ED97BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18751AC1BD444E100A7B856</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18751CC1BD44DF000A7B856</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A188FA9A2B9CC98E00EF6280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18A6C6D1DB30E50000C4B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18A6C881DB31537000C4B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18A6C9C1DB31696000C4B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18EB8C71ABE9D4B001BD4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B5E2F91CA0D703002E2653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C755CA1AD9E84A00236776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C755F81AD9E94B00236776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C7561B1AD9E9BB00236776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C756261AD9E9BB00236776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
