<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show debug progress messages</string>
			<key>Key</key>
			<string>progress_debug</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Route Paths</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Fetch route lines for maps</string>
			<key>Key</key>
			<string>kml_routes2</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>28</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>Monthly (~ 10MB)</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Only download on WiFi</string>
			<key>Key</key>
			<string>kml_route_only_wifi</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use smaller debug route lines (~ 3MB)</string>
			<key>Key</key>
			<string>github_route_shapes</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>The vehicle locator is an experimental feature that will try to find which vehicle you are currently on. The search distance may need tuning.</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>200</integer>
				<real>400</real>
				<real>600</real>
				<integer>800</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OFF</string>
				<string>200 meters</string>
				<string>400 meters</string>
				<string>600 meters</string>
				<string>800 meters</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Vehicle Locator</string>
			<key>Key</key>
			<string>vehicle_locator_distance</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>The proximity alarm initially uses cell-towers to locate the device, this is less accurate but does use low power.  As you get close to your stop, PDX Bus will switch to using GPS which is accurate but uses more power. </string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>4828.032</real>
			<key>Key</key>
			<string>proximity_gps</string>
			<key>Title</key>
			<string>Use GPS within</string>
			<key>Titles</key>
			<array>
				<string>1 mile</string>
				<string>2 miles</string>
				<string>3 miles</string>
				<string>4 miles</string>
				<string>5 miles</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>1609.344</real>
				<real>3218.688</real>
				<real>4828.032</real>
				<real>6437.376</real>
				<real>8046.72</real>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Route &amp; Stop Data Cache:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>route_cache</string>
			<key>Title</key>
			<string>Keep data until</string>
			<key>Titles</key>
			<array>
				<string>app quits</string>
				<string>end of day</string>
				<string>end of week</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>7</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Show a link to TriMet&apos;s Transit Tracker for each stop:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>FalseValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>show_transit_tracker</string>
			<key>Title</key>
			<string>Tracker link</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Debugging options:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show download sizes</string>
			<key>Key</key>
			<string>show_sizes</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always show commuter bookmark</string>
			<key>Key</key>
			<string>debug_commuter</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Cache data</string>
			<key>Key</key>
			<string>use_caching</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Debug raw XML data</string>
			<key>Key</key>
			<string>debug_xml3</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Copy</string>
				<string>Free Formatter</string>
				<string>SAML Developer Tools</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use beta vehicle locator</string>
			<key>Key</key>
			<string>use_beta_vehicle_locator</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show trips in details</string>
			<key>Key</key>
			<string>show_trips</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>PDX Bus</string>
</dict>
</plist>
