<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.teleportaloo.pdxbus</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Route Paths</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Fetch route lines for maps in background</string>
			<key>Key</key>
			<string>kml_routes2</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>28</integer>
				<integer>-1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>Monthly (~ 10MB)</string>
				<string>Manually</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Only download on WiFi</string>
			<key>Key</key>
			<string>kml_route_only_wifi</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>The vehicle locator is a feature that will try to find which vehicle you are currently on. The search distance may need tuning.</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>161</integer>
				<integer>322</integer>
				<integer>643</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OFF</string>
				<string>0.1 miles</string>
				<string>0.2 miles</string>
				<string>0.4 miles</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Vehicle Locator</string>
			<key>Key</key>
			<string>vehicle_locator_distance2</string>
			<key>DefaultValue</key>
			<integer>322</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>The proximity alarm initially uses cell-towers to locate the device, this is less accurate but does use low power.  As you get close to your stop, PDX Bus will switch to using GPS which is accurate but uses more power. </string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>3218.688</real>
			<key>Key</key>
			<string>proximity_gps</string>
			<key>Title</key>
			<string>Use GPS within</string>
			<key>Titles</key>
			<array>
				<string>1 mile</string>
				<string>2 miles</string>
				<string>3 miles</string>
				<string>4 miles</string>
				<string>5 miles</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<real>1609.344</real>
				<real>3218.688</real>
				<real>4828.032</real>
				<real>6437.376</real>
				<real>8046.72</real>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Route &amp; Stop Data Cache:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Enable inspection of raw data from the TriMet servers</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Debug raw XML data</string>
			<key>Key</key>
			<string>debug_xml3</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Share</string>
				<string>Free Formatter</string>
				<string>SAML Developer Tools</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>PDX Bus</string>
</dict>
</plist>
