<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>PDX Bus was awarded the “Best in Show” prize in the 2010 CivicApps for Greater Portland awards, which was a regional competition encouraging developers to build useful apps using public data. PDX Bus was recognized for its contribution to public transit accessibility and its utility to Portland-area TriMet riders.</string>
		<key>Icon</key>
		<string>!trophy.fill</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>App icon by Rob Alan</string>
		<key>Icon</key>
		<string>ActionIcon.png</string>
		<key>LinkM</key>
		<string>https://x.com/robalan</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Some toolbar icons by TWG (link no longer valid).</string>
		<key>Icon</key>
		<string>!paintbrush.pointed.fill</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Polygon code (c) 1970-2003, Wm. Randolph Franklin</string>
		<key>Icon</key>
		<string>!doc.plaintext</string>
		<key>LinkM</key>
		<string>https://wrfranklin.org/Research/Short_Notes/pnpoly.html</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Pull to Refresh (c) 2010 Leah Culver</string>
		<key>Icon</key>
		<string>!doc.plaintext</string>
		<key>LinkM</key>
		<string>https://github.com/leah/PullToRefresh</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>PDX Bus Source Code</string>
		<key>Icon</key>
		<string>!doc.plaintext</string>
		<key>LinkM</key>
		<string>https://github.com/teleportaloo/PDX-Bus</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Max map is courtesy of TriMet and may change without notice</string>
		<key>Icon</key>
		<string>!paintbrush.pointed.fill</string>
		<key>LinkM</key>
		<string>https://trimet.org/maps/pdf/railsystem.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Streetcar map is courtesy of Portland Streetcar and may change without notice</string>
		<key>Icon</key>
		<string>!paintbrush.pointed.fill</string>
		<key>LinkM</key>
		<string>https://portlandstreetcar.org/maps-schedules/schedules</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Mike Koenig Attribution - the Train Honk file is from Mike Koenig and is used under the Creative Commons Attribution License 3.0</string>
		<key>Icon</key>
		<string>!speaker</string>
		<key>LinkM</key>
		<string>https://soundbible.com/1695-Train-Honk-Horn-2x.html</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>TML map icon created by Freepik - Flaticon</string>
		<key>Icon</key>
		<string>tml.png</string>
		<key>LinkM</key>
		<string>https://www.flaticon.com/free-icons/map</string>
	</dict>
</array>
</plist>
