<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>.11.5.2 (September 2025)</string>
	<string>.11.5.1 (August 2025)</string>
	<string>Stability and bug fixes from crash logs.</string>
	<string>Improved responsiveness of the MAX and Streetcar maps.</string>
	<string>+https://trimet.org/maxdowntown/ Removed Skidmore Fountain MAX Station.</string>
	<string>Clarified help for Apple Watch.</string>
	<string>Added indices for routes and detours.</string>
	<string>.11.5.0 (July 2025)</string>
	<string>All new standard icons for a new clean look.</string>
	<string>Stability and bug fixes.</string>
	<string>$TipJar ❤️ Added a Tip Jar, as I #ineed#i more coffee.
        
Leave a tip to support the app. It&apos;s made by volunteers using TriMet&apos;s public data. No obligation, no additional features, just a way to say #ithanks#i. </string>
	<string>Reworked GPS user interface to be slicker and quicker and better.</string>
	<string>Updated minimum supported iOS version to iOS 15.0, and updated to use modern user interface elements.</string>
	<string>Optimized the way routes are drawn on maps - now it&apos;s much, much faster.</string>
	<string>.11.4.10 (May 2025)</string>
	<string>Updated website links.</string>
	<string>.11.4.9 (February 2025)</string>
	<string>Fixed some UI crashes. 😱</string>
	<string>Updated vehicles to include new busses and trains and what kind of busses they are.</string>
	<string>Removed Twitter (X) link for PDX Bus, as we don&apos;t do support on Twitter any more</string>
	<string>$Bluesky Removed Twitter (X) links for TriMet also, as they are not linking to X from their main site any more. Added their Bluesky account. (Their X account does seem to work right now though).</string>
	<string>Removed link to Portland Streetcar&apos;s Twitter account as they have not posted since 2023.</string>
	<string>.11.4.8 (October 2024)</string>
	<string>Added support for Time Sensative Alerts.</string>
	<string>Fixed timing issue causing location services to sometimes fail.</string>
	<string>Minor updates to station screen user interface.</string>
	<string>.11.4.7 (October 2024)</string>
	<string>Final updates for Better Red.</string>
	<string>Rebuilt for iOS 18</string>
	<string>Fixed bugs found by new compiler tools and other bugs.</string>
	<string>.11.4.6 (August 2024)</string>
	<string>Updated map and station names for Better Red changes.</string>
	<string>Optimizations</string>
	<string>The &quot;What&apos;s New page&quot;  is now only shown automatically for major changes, not minor ones.  This was not a major change.</string>
	<string>Now can run on Apple Vision Pro</string>
	<string>.11.4.4 (March 2024)</string>
	<string>-14250 Added Gateway North MAX Station</string>
	<string>$RailMap Updated maps and colors.</string>
	<string>Fixed how detours are displayed for closed stations or weather events.</string>
	<string>Updated social media logos, added Instagram.</string>
	<string>Removed COVID link.</string>
	<string>Fixed links to guthub and pnpoly attribution</string>
	<string>Now can run on Apple Vision Pro</string>
	<string>.11.4.3 (July 2023)</string>
	<string>$RailMap Updated maps and colors.</string>
	<string>Minor bugs and fixes</string>
	<string>Fixed occasional crash when locating nearby routes.</string>
	<string>Fixed Siri shortcuts on the Apple Watch (would not work sometimes)</string>
	<string>$Fx FX:  Added new icon and vehicle info for the new Frequent Express line.</string>
	<string>.11.4.2 (January 2022)</string>
	<string>+https://buymeacoffee.com/pdxbus Added a link to &quot;Buy Me a Coffee&quot; for tips.  No obligation, no additional features, just a way to say thanks.</string>
	<string>Updated NextBus feed (for streetcar locations) - company was purchased by #Lhttps://retro.umoiq.com/#!/portland-sc/193/193_1_var1/10756 Umo#T. </string>
	<string>$StreetcarMap Added new Streetcar Map, added transfer information to station screens, and modified station names in South Portland.</string>
	<string>Fixed issues around Aerial Tram and its alerts.</string>
	<string>Watch app:  As Apple has removed the context menus, the buttons on that menu have been moved to the main screens.</string>
	<string>Watch app:  Siri features from the phone app are now supported on the watch.</string>
	<string>Fixed issues with the background downloading of route lines to display on maps. </string>
	<string>Removed support for iOS 11 (iOS 12 was supported on all iOS 11 devices).</string>
	<string>Fixed rounding error for metric distances.</string>
	<string>Fixed issue when there was a #h character in a detour, this is assumed to be a Stop ID now.</string>
	<string>Fixed issues with alarms and showing details for WES arrivals at #Lid:13067 Hall/Nimbus#T or #Lid:13069 Tualatin#T WES Stations.</string>
	<string>Checked all internal web links.  Fixed a few!  (This check has been automated).</string>
	<string>Added system-wide alerts to Siri;  fixed some issues with shortcuts (Siri would sometimes unexpectedly say the results).</string>
	<string>Fixed some dark gray text in dark mode.</string>
	<string>Refactored network access and caching.</string>
	<string>+https://trimet.org/celebrate Added Celebration bus information</string>
	<string>Tweaked fonts - now all use monospaced numbers as things align better.</string>
	<string>Updated for iOS 15.</string>
	<string>A long press on detours and other text will allow it to be selected - this allows the user to translate, copy or share the text.</string>
	<string>Detailed arrivals include a new action to plan a trip starting from just after the arrival.  (As requeted by a user!). </string>
	<string>.11.4.1 (January 2021)</string>
	<string>Updated the fonts on departures;  re-aligned the alert text.</string>
	<string>Departure details now show the long description of the route and have bigger times.</string>
	<string>Reworked the pins and callouts on the maps.</string>
	<string>Stop names are now sorted correctly (e.g. NW 5th Ave comes before NW 10th Ave).</string>
	<string>iOS 14 updates</string>
	<string>.11.4 (September 2020)</string>
	<string>$RailMap Updated MAX map to September 2020 version (three stops were closed).</string>
	<string>$Detours #O#bNew look for Alerts#b
Alerts now include links inline in the text, such as trimet.org or Stop ID #Lid:7586 7586#T. Alerts are now consistently sorted, and additional links are at the end like this: #Lhttps:/trimet.org/health/ More#T
#Lroute:100 See route info#T
#A(Effective as of now)</string>
	<string>$Settings Fixed issue with reading TriMet&apos;s route file, so the optional fetching of route lines for maps will work again, now it fetches in the background too.  This is a cool feature - turn it on in the settings.  For #bShow Route Paths on Maps#b, choose #b#B&quot;Fetch in background, Monthly&quot;#0#b.</string>
	<string>Fixed a issue where, on the details screen, vehicles may be shown as due after they had left.</string>
	<string>Code has been tidied up a lot internally to make it easier to maintain, as I had time on my hands.  :-(</string>
	<string>+https://github.com/teleportaloo/PDX-Bus/blob/master/Shortcuts.markdown#introduction Added support for Shortcuts app to get arrivals, stop locations, and routes. See documentation, and try the Shortcuts app.</string>
	<string>$CheckNetwork Improved check network screen to show progress.</string>
	<string>Trip planner results now include the number of transfers.</string>
	<string>Various #iother#i bug fixes 🐜.</string>
	<string>Updated some station names as the South Waterfront area has changed from &quot;SW Portland&quot; to &quot;S Portland&quot;. The Streetcar map and stations are not yet changed.</string>
	<string>Updated map sharing to allow sharing of a map link for a stop.</string>
	<string>Note: This will be the last update for iOS 10, as Apple makes it hard to test older than the last three versions.</string>
	<string>.11.3.1 (January 2020)</string>
	<string>Small fix for maps if they are on the screen when the mode changes from dark to light or vice versa.</string>
	<string>Fix for the pull-down search in iOS 13, sometimes items at the bottom of the page were hidden behind the keyboard.</string>
	<string>Fixed the date picker screen in the trip planner - the date picker is now aligned properly.</string>
	<string>Added information for new 2019 vehicles.</string>
	<string>Completed changing the descriptions of the times from #iArrivals#i to #iDepartures#i.  The times have always been #ideparture#i times,  even though the internal documentation often calls them #iarrival#i times.  It is clearer if we refer to them as departure times.</string>
	<string>Re-worked departure and proximity alarms, improved user interface and improved accuracy.</string>
	<string>Several other small bug fixes and tweaks, including more information when a vehicle goes off route.</string>
</array>
</plist>
