<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mins_for_arrivals</key>
	<string>30</string>
	<key>auto_commute</key>
	<true/>
	<key>bookmarks_at_the_top</key>
	<false/>
	<key>locate_toolbar_icon</key>
	<true/>
	<key>commute_button</key>
	<true/>
	<key>flashing_light_icon</key>
	<true/>
	<key>toolbar_colors</key>
	<integer>609678</integer>
	<key>flash_led</key>
	<false/>
	<key>flashing_light_warning</key>
	<true/>
	<key>auto_refresh</key>
	<true/>
	<key>group_by_arrivals_icon</key>
	<false/>
	<key>auto_locate_show_options</key>
	<true/>
	<key>use_apple_geolocator</key>
	<true/>
	<key>max_walking_distance</key>
	<real>0.75</real>
	<key>travel_by</key>
	<integer>2</integer>
	<key>min</key>
	<integer>0</integer>
	<key>alarm_sound</key>
	<string>Train_Honk_Horn_2x-Mike_Koenig-157974048.aif</string>
	<key>streetcar_map_first</key>
	<false/>
	<key>search_stations</key>
	<true/>
	<key>search_bookmarks</key>
	<true/>
	<key>search_routes</key>
	<true/>
	<key>kml_routes2</key>
	<integer>0</integer>
	<key>kml_route_only_wifi</key>
	<true/>
	<key>vehicle_locator_distance2</key>
	<integer>322</integer>
	<key>proximity_gps</key>
	<real>3218.688</real>
	<key>debug_xml3</key>
	<integer>0</integer>
	<key>progress_debug</key>
	<false/>
	<key>show_transit_tracker</key>
	<false/>
	<key>show_sizes</key>
	<false/>
	<key>debug_commuter</key>
	<false/>
	<key>clear_cache</key>
	<false/>
	<key>use_beta_vehicle_locator</key>
	<true/>
	<key>show_trips</key>
	<false/>
	<key>show_detour_ids</key>
	<false/>
	<key>use_gps_for_all_alarms</key>
	<true/>
	<key>network_timeout2</key>
	<integer>20</integer>
	<key>first_launch_with_icloud</key>
	<true/>
	<key>hidden_transitioned</key>
	<false/>
	<key>network_in_parallel</key>
	<true/>
</dict>
</plist>
