<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>block</key>
	<dict>
		<key>cl</key>
		<string>94%@</string>
		<key>streetcar</key>
		<string>93%@</string>
	</dict>
	<key>platforms</key>
	<dict>
		<key>streetcar</key>
		<dict>
			<key>8989</key>
			<string>d=t5&amp;s=n23mar_d</string>
			<key>3596</key>
			<string>d=t5&amp;s=loven22</string>
			<key>3595</key>
			<string>d=t5&amp;s=loven21</string>
			<key>10751</key>
			<string>d=t5&amp;s=loven18</string>
			<key>10752</key>
			<string>d=t5&amp;s=loven13</string>
			<key>10753</key>
			<string>d=t5&amp;s=n11john</string>
			<key>10754</key>
			<string>d=t5&amp;s=n11glis</string>
			<key>10755</key>
			<string>d=t5&amp;s=n11eve</string>
			<key>10756</key>
			<string>d=t5&amp;s=n11cou</string>
			<key>9600</key>
			<string>d=t5&amp;s=s11ald</string>
			<key>9633</key>
			<string>d=t5&amp;s=s11tay</string>
			<key>10759</key>
			<string>d=t5&amp;s=s11jeff</string>
			<key>10760</key>
			<string>d=t5&amp;s=s11clay</string>
			<key>11011</key>
			<string>d=t5&amp;s=marspark</string>
			<key>10762</key>
			<string>d=t5&amp;s=mars5</string>
			<key>10763</key>
			<string>d=t5&amp;s=mons5</string>
			<key>12375</key>
			<string>d=t5&amp;s=sw3harr</string>
			<key>12376</key>
			<string>d=t5&amp;s=sw1harr</string>
			<key>12377</key>
			<string>d=t5&amp;s=swharrd</string>
			<key>12378</key>
			<string>d=t5&amp;s=swrivmo</string>
			<key>12760</key>
			<string>d=t5&amp;s=swmogibb_a</string>
			<key>12880</key>
			<string>d=t5&amp;s=moodgain</string>
			<key>12881</key>
			<string>d=t23&amp;s=lowell_d</string>
			<key>12882</key>
			<string>d=t23&amp;s=bondlane</string>
			<key>12883</key>
			<string>d=t23&amp;s=bondohsu</string>
			<key>12379</key>
			<string>d=t23&amp;s=swrivmo_h</string>
			<key>12380</key>
			<string>d=t23&amp;s=swharrd</string>
			<key>12381</key>
			<string>d=t23&amp;s=sw1harr</string>
			<key>12382</key>
			<string>d=t23&amp;s=sw3harr</string>
			<key>10764</key>
			<string>d=t23&amp;s=shop</string>
			<key>10766</key>
			<string>d=t23&amp;s=milspark</string>
			<key>10765</key>
			<string>d=t23&amp;s=s10clay</string>
			<key>6493</key>
			<string>d=t23&amp;s=s10mad</string>
			<key>10767</key>
			<string>d=t23&amp;s=s10yam</string>
			<key>10768</key>
			<string>d=t23&amp;s=s10ald</string>
			<key>10769</key>
			<string>d=t23&amp;s=s10wash</string>
			<key>10770</key>
			<string>d=t23&amp;s=n10cou</string>
			<key>10771</key>
			<string>d=t23&amp;s=n10ev</string>
			<key>10772</key>
			<string>d=t23&amp;s=n10glis</string>
			<key>10773</key>
			<string>d=t23&amp;s=n10john</string>
			<key>10774</key>
			<string>d=t23&amp;s=n10mar</string>
			<key>12796</key>
			<string>d=t23&amp;s=nw12north</string>
			<key>10775</key>
			<string>d=t23&amp;s=northn14</string>
			<key>10776</key>
			<string>d=t23&amp;s=northn18</string>
			<key>10777</key>
			<string>d=t23&amp;s=northn21</string>
			<key>10778</key>
			<string>d=t23&amp;s=northn22</string>
			<key>13604</key>
			<string>d=t23&amp;s=n10nort</string>
		</dict>
		<key>cl</key>
		<dict>
			<key>10765</key>
			<string>d=omsi&amp;s=s10clay</string>
			<key>6493</key>
			<string>d=omsi&amp;s=s10mad</string>
			<key>10767</key>
			<string>d=omsi&amp;s=s10yam</string>
			<key>10768</key>
			<string>d=omsi&amp;s=s10ald</string>
			<key>10769</key>
			<string>d=omsi&amp;s=s10wash</string>
			<key>10770</key>
			<string>d=omsi&amp;s=n10cou</string>
			<key>10771</key>
			<string>d=omsi&amp;s=n10ev</string>
			<key>10772</key>
			<string>d=omsi&amp;s=n10glis</string>
			<key>10773</key>
			<string>d=omsi&amp;s=n10john</string>
			<key>13606</key>
			<string>d=omsi&amp;s=n9love</string>
			<key>13607</key>
			<string>d=omsi&amp;s=weidross</string>
			<key>13608</key>
			<string>d=omsi&amp;s=weid2nd</string>
			<key>13609</key>
			<string>d=omsi&amp;s=weidgran</string>
			<key>13610</key>
			<string>d=omsi&amp;s=7thhals</string>
			<key>13611</key>
			<string>d=omsi&amp;s=7thholl</string>
			<key>13612</key>
			<string>d=omsi&amp;s=oreggran</string>
			<key>5912</key>
			<string>d=omsi&amp;s=mlkhoyt</string>
			<key>5901</key>
			<string>d=omsi&amp;s=mklburn</string>
			<key>13613</key>
			<string>d=omsi&amp;s=mlkstar</string>
			<key>13584</key>
			<string>d=omsi&amp;s=mlkmorr</string>
			<key>13585</key>
			<string>d=omsi&amp;s=mlktayl</string>
			<key>13614</key>
			<string>d=omsi&amp;s=mlkhawt</string>
			<key>5933</key>
			<string>d=omsi&amp;s=mlkmill</string>
			<key>13615</key>
			<string>d=psu&amp;s=omsi_d</string>
			<key>2171</key>
			<string>d=psu&amp;s=granmill</string>
			<key>13616</key>
			<string>d=psu&amp;s=granhawt</string>
			<key>11483</key>
			<string>d=psu&amp;s=grantayl</string>
			<key>11484</key>
			<string>d=psu&amp;s=granbelm</string>
			<key>13597</key>
			<string>d=psu&amp;s=granstar</string>
			<key>2167</key>
			<string>d=psu&amp;s=granburn</string>
			<key>2169</key>
			<string>d=psu&amp;s=granhoyt</string>
			<key>2175</key>
			<string>d=psu&amp;s=granpaci</string>
			<key>9343</key>
			<string>d=psu&amp;s=granmult</string>
			<key>13617</key>
			<string>d=psu&amp;s=granbroad</string>
			<key>13618</key>
			<string>d=psu&amp;s=broa2nd</string>
			<key>13619</key>
			<string>d=psu&amp;s=broaross</string>
			<key>13604</key>
			<string>d=psu&amp;s=n10nort</string>
			<key>13620</key>
			<string>d=psu&amp;s=n11mars</string>
			<key>10753</key>
			<string>d=psu&amp;s=n11john</string>
			<key>10754</key>
			<string>d=psu&amp;s=n11glis</string>
			<key>10755</key>
			<string>d=psu&amp;s=n11eve</string>
			<key>10756</key>
			<string>d=psu&amp;s=n11cou</string>
			<key>13302</key>
			<string>d=psu&amp;s=s11ald</string>
			<key>9633</key>
			<string>d=psu&amp;s=s11tay</string>
			<key>10759</key>
			<string>d=psu&amp;s=s11jeff</string>
			<key>10760</key>
			<string>d=psu&amp;s=s11clay</string>
		</dict>
	</dict>
	<key>shortnames</key>
	<dict>
		<key>NS Line To NW 23rd and Marshall</key>
		<string>NS Line to NW 23rd</string>
		<key>Streetcar To SW Lowell and Bond</key>
		<string>Streetcar-South Waterfront</string>
		<key>NS Line To SW Lowell and Bond</key>
		<string>NS Line to South Waterfront</string>
		<key>Streetcar To NW 23rd and Marshall</key>
		<string>Streetcar to NW 23rd Ave</string>
	</dict>
	<key>route</key>
	<dict>
		<key>cl</key>
		<string>194</string>
		<key>streetcar</key>
		<string>193</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>t23</key>
		<string>0</string>
		<key>t5</key>
		<string>1</string>
		<key>omsi</key>
		<string>0</string>
		<key>psu</key>
		<string>1</string>
	</dict>
</dict>
</plist>
