<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>block</key>
	<dict>
		<key>194</key>
		<string>94%@</string>
		<key>193</key>
		<string>93%@</string>
	</dict>
	<key>platforms</key>
	<dict>
		<key>193</key>
		<dict>
			<key>8989</key>
			<true/>
			<key>3596</key>
			<true/>
			<key>3595</key>
			<true/>
			<key>10751</key>
			<true/>
			<key>10752</key>
			<true/>
			<key>10753</key>
			<true/>
			<key>10754</key>
			<true/>
			<key>10755</key>
			<true/>
			<key>10756</key>
			<true/>
			<key>9600</key>
			<true/>
			<key>9633</key>
			<true/>
			<key>10759</key>
			<true/>
			<key>10760</key>
			<true/>
			<key>11011</key>
			<true/>
			<key>10762</key>
			<true/>
			<key>10763</key>
			<true/>
			<key>12375</key>
			<true/>
			<key>12376</key>
			<true/>
			<key>12377</key>
			<true/>
			<key>12378</key>
			<true/>
			<key>12760</key>
			<true/>
			<key>13602</key>
			<true/>
			<key>13601</key>
			<true/>
			<key>12880</key>
			<true/>
			<key>12881</key>
			<true/>
			<key>12882</key>
			<true/>
			<key>12883</key>
			<true/>
			<key>12379</key>
			<true/>
			<key>12380</key>
			<true/>
			<key>12381</key>
			<true/>
			<key>12382</key>
			<true/>
			<key>10764</key>
			<true/>
			<key>10766</key>
			<true/>
			<key>10765</key>
			<true/>
			<key>6493</key>
			<true/>
			<key>10767</key>
			<true/>
			<key>10768</key>
			<true/>
			<key>10769</key>
			<true/>
			<key>10770</key>
			<true/>
			<key>10771</key>
			<true/>
			<key>10772</key>
			<true/>
			<key>10773</key>
			<true/>
			<key>10774</key>
			<true/>
			<key>12796</key>
			<true/>
			<key>10775</key>
			<true/>
			<key>10776</key>
			<true/>
			<key>10777</key>
			<true/>
			<key>10778</key>
			<true/>
			<key>13604</key>
			<true/>
		</dict>
		<key>194</key>
		<dict>
			<key>10765</key>
			<true/>
			<key>6493</key>
			<true/>
			<key>10767</key>
			<true/>
			<key>10768</key>
			<true/>
			<key>10769</key>
			<true/>
			<key>10770</key>
			<true/>
			<key>10771</key>
			<true/>
			<key>10772</key>
			<true/>
			<key>10773</key>
			<true/>
			<key>13606</key>
			<true/>
			<key>13607</key>
			<true/>
			<key>13608</key>
			<true/>
			<key>13609</key>
			<true/>
			<key>13610</key>
			<true/>
			<key>13611</key>
			<true/>
			<key>13612</key>
			<true/>
			<key>2171</key>
			<true/>
			<key>5912</key>
			<true/>
			<key>5901</key>
			<true/>
			<key>13613</key>
			<true/>
			<key>13584</key>
			<true/>
			<key>13585</key>
			<true/>
			<key>13614</key>
			<true/>
			<key>5933</key>
			<true/>
			<key>13615</key>
			<true/>
			<key>13616</key>
			<true/>
			<key>11483</key>
			<true/>
			<key>11484</key>
			<true/>
			<key>13597</key>
			<true/>
			<key>2167</key>
			<true/>
			<key>2169</key>
			<true/>
			<key>2175</key>
			<true/>
			<key>9343</key>
			<true/>
			<key>13617</key>
			<true/>
			<key>13618</key>
			<true/>
			<key>13619</key>
			<true/>
			<key>13604</key>
			<true/>
			<key>13620</key>
			<true/>
			<key>10753</key>
			<true/>
			<key>10754</key>
			<true/>
			<key>10755</key>
			<true/>
			<key>10756</key>
			<true/>
			<key>9600</key>
			<true/>
			<key>9633</key>
			<true/>
			<key>10759</key>
			<true/>
			<key>10760</key>
			<true/>
		</dict>
	</dict>
	<key>shortnames</key>
	<dict>
		<key>NS Line To NW 23rd and Marshall</key>
		<string>NS Line to NW 23rd</string>
		<key>Streetcar To SW Lowell and Bond</key>
		<string>Streetcar-South Waterfront</string>
		<key>NS Line To SW Lowell and Bond</key>
		<string>NS Line to South Waterfront</string>
		<key>Streetcar To NW 23rd and Marshall</key>
		<string>Streetcar to NW 23rd Ave</string>
		<key>Cl Line SE Water/OMSI (Streetcar)</key>
		<string>Cl Line SE Water/OMSI</string>
		<key>CL Line SE Water/OMSI (Streetcar)</key>
		<string>CL Line SE Water/OMSI</string>
	</dict>
	<key>route</key>
	<dict>
		<key>194</key>
		<string>194</string>
		<key>193</key>
		<string>193</string>
	</dict>
	<key>substitutions</key>
	<dict>
		<key>Cl Line</key>
		<string>CL Line</string>
	</dict>
	<key>directions</key>
	<dict>
		<key>193_0_var1</key>
		<string>0</string>
		<key>193_1_var2</key>
		<string>1</string>
		<key>194_0_var0</key>
		<string>0</string>
		<key>194_1_var1</key>
		<string>1</string>
	</dict>
</dict>
</plist>
